@import '_vars';
@import 'modules/_home';
@import 'modules/details';

body { 
    background: url(/images/spirationdark.png) repeat;
}

header {
    background-color: $blue;
    height: 50px;
    h1 {
        float: left;
        font-size: 30px;
        line-height: 50px;
        margin-left: 20px;
        color: $grey;
    }
    a {
        position: absolute;
        right: 10px;
        border: 2px solid $grey;
        padding: 0 5px 0 5px;
        color: $grey;
        top: 11px;
    }
    a:hover { 
        color: black;
        text-decoration: none;
        border: 2px solid black;
    }
}