<section id="activities">
    {{#each activities}}
        <div id="computers-cont">
            <img src="/images/{{img}}" alt="activity thumbnail">
            <br>
            <h1>{{title}}</h1>
            <a href="/{{name}}">MORE INFO</a>
        </div>

    {{/each}}
</section>
