<section id="activities" class="container-fluid">
    <div class="row">
    {{#each activities}}
        <div class="activity-cont col-4">
            <img src="/images/{{img}}" alt="{{name}}">
            <br>
            <h2>{{title}}</h2>
            <a href="/{{name}}">MORE INFO</a>
        </div>
    {{/each}}
    </div>
</section>
