#details-cont {
    margin-top: 30px;
    padding-bottom: 30px;
    color: white;
}

#img {
    text-align: center;
    img {
        width: 50%;
    }
}

#details {
    h2 {
        text-align: center;
    }
    margin-top: 30px;
}